SUPABASE_URL=https://gloehnypjcyhvjalvnez.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_qnr625XjmzSz2szhxxaU6A_sdft-8Pc
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=https://gloehnypjcyhvjalvnez.supabase.co/auth/v1/.well-known/jwks.json
